.scrolling-box {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #111111;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
}

 

.col-one-style1 {
    flex: 50%;
  background-color: #111111;
}

.col-two-style1 {
    flex: 50%;
    padding: 50px;
  background-color: #111111;
   
}

.col-two-style2 {
    flex: 50%;
  background-color: #111111;
}

.col-one-style2 {
    flex: 50%;
    padding: 50px;
  background-color: #111111;
}

.column {
    width: 80%;
    float: left;
    display: flex;
}

.left, .middle {
    flex: 25%;
    padding: 50px;
    padding-top: 100px;
}

.right {
    flex: 50%;
    background: aqua;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

header .dropdown {
    float: left;
    overflow: hidden;
    width: 55px;
}


/* Header */

header {
    background: -webkit-linear-gradient(90deg, #76797e, #cbcccf);
    min-height: 50px;
    
}

/* showcase */

#showcase {
    min-height: 5px;
    
    background: url(images/header-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}

#showcase h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(#f5f3f4, #151517);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    padding-top: 3%;
}

#showcase a {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0rem;
    line-height: 0.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    
}

#showcase p {
    padding: 40px;
    padding-top: 2px;
    text-align: center;
    color: #adb5bd;
}


#showcase p:hover {
    background-color: #111111;
    color: #ced4da;
}


/* object one */

#still-heart {
    background-color: #111111;
    padding: 20px;
    padding-right: 2px;
    max-height: 530px;
    /*background: -webkit-linear-gradient(90deg, #4f5253, #c8c8cc 30%);*/
}

#still-heart h4 {
    color: #adb5bd;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#still-heart h4:hover {
    background-color: #111111;
    color: #ced4da;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


#still-heart p {
    color: #adb5bd;
}

#still-heart p:hover {
    background-color: #111111;
    color: #ced4da;
}

#watch {
    padding-top: 5px;
    max-height: 530px;
    background-color: #111111;
    padding-bottom: 20px;
}

#watch h4 {
    color: #adb5bd;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#watch h4:hover {
    background-color: #111111;
    color: #ced4da;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#watch p {
    color: #adb5bd;
    text-align: right;
   
}

#watch p:hover {
    background-color: #111111;
    color: #ced4da;
    text-align: right;
   
}

#bag-brown {
    padding: 20px;
    max-height: 600px;
    background-color: #111111;
    padding-top: 50px;
    margin-top: 20px;
}


#bag-brown h4 {
    color: #adb5bd;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#bag-brown h4:hover {
    background-color: #111111;
    color: #ced4da;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#bag-brown p {
    color: #adb5bd;
}

#bag-brown p:hover {
    background-color: #111111;
    color: #ced4da;
   
   
}


